@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Condensed&display=swap');


[data-theme='light'] {
    --primaryBNR: #9000f2;
    --primaryContrastBNR: #6900c5;
    --anchorBNR: #7906c3;
    --errorBNR: #e00021;
    --validBNR: #1cf200;
    --bg-colorBNR: #fbf3ff;
    --bg-hoverBNR: #f5e3ff;
    --textBNR: #202020;
    --titleBNR: #1c2122;
    --greyBNR: #637381;
    --border-color: rgba(145, 158, 171, 0.32);
}

[data-theme='dark'] {
    --primaryBNR: #64079c;
    --primaryContrastBNR: #440076;
    --anchorBNR: #a30fff;
    --errorBNR: #e00021;
    --validBNR: #1cf200;
    --bg-colorBNR: #1C1C1E;
    --bg-hoverBNR: #434347;
    --textBNR: #f1f1f1;
    --titleBNR: #ffffff;
    --greyBNR: #a6b2ba;
    --border-color: rgba(145, 158, 171, 0.32);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-colorBNR);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
    padding: 0 1.5rem;
    line-height: 1.5;
}

main {
    color: var(--greyBNR);
}

.bluenred-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--titleBNR);
}

.bluenred-title button {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.5rem;
    background-color: transparent;
    border: 2px solid var(--border-color);
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--greyBNR);
}

.bluenred-title button:hover {
    border-width: 3px;
}

.sign-up-header h1 {
    color: var(--textBNR);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.form-container {
    margin-bottom: 2rem;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0.25rem;
}

.form-double {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

.grow-container {
    flex: 1;
    min-width: 10rem;
}

.form-container input[type=text],
.form-container input[type=email],
.password-container,
.form-container input[type=tel],
.form-container select,
.radio-label {
    padding: 0.75rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    background-color: var(--bg-colorBNR);
    color: var(--textBNR);
    font-size: 1rem;
    width: 100%;
}

.error {
    font-size: 0.75rem;
    color: var(--errorBNR);
    font-weight: 500;
}

.form-row select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(img/drop_down_arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 97.75%;
    background-position-y: 1.1rem;
    cursor: pointer;
}

.form-double select {
    background-position-x: 95%;
}


.radio-label {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
    padding: 0;
    cursor: pointer;
}

.radio-label label {
    width: 70%;
    padding: 0.75rem 1rem;
    text-align: center;
}

.form-container input:focus,
.form-container select:focus-visible,
.radio-label:has(input:checked) {
    border: 1px solid var(--primaryBNR);
    outline-color: var(--primaryBNR);
}

.password-container {
    padding: 0;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
}

.password-container input[type=text],
.password-container input[type=text]:focus,
.password-container input[type=password],
.password-container input[type=password]:focus {
    width: 90%;
    height: 2.5rem;
    margin: 2px;
    border: 0;
    border-radius: 0;
    outline: none;
    background-color: var(--bg-colorBNR);
    color: var(--textBNR);
    padding: 0.75rem 1rem;
}

.password-container i {
    text-align: center;

    width: 10%;
    margin: 0 0.5rem;
    font-size: 1rem;
}

input[type='radio']:after,
input[type='radio']:checked:after {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 1.25rem;
    top: -0.25rem;
    left: -0.2rem;
    background-color: var(--bg-colorBNR);
    content: '';
    display: inline-block;
    border: 2px solid var(--bg-hoverBNR);
}

input[type='radio']:checked:after {
    background-color: var(--primaryBNR);
    border: 2px solid var(--primaryContrastBNR);
}

.form-container input[type=radio] {
    height: 100%;
}

.tarifa-description {
    padding: 0.5rem 0 1rem;
}

.tarifa-description i {
    color: var(--primaryBNR);
    padding-right: 0.5rem;
}

input[type=checkbox] {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.terms-container label {
    position: relative;
    cursor: pointer;
}

.terms-container label:before {
    position: relative;
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--primaryBNR);
    border-radius: 0.25rem;
    padding: 0.75rem;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0.5rem;
}

.terms-container input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 10px;
    width: 0.5rem;
    height: 1rem;
    border: solid var(--primaryBNR);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.terms-container a,
.log-in-container a {
    font-weight: 700;
    color: var(--anchorBNR);
}

a:hover {
    text-decoration: none;
}

.log-in-container {
    padding-top: 1rem;
}

.btn-submit {
    margin-top: 1rem;
}

.btn-submit button {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: #f1f1f1;
    background-color: var(--primaryBNR);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    cursor: pointer;
}

.btn-submit button:hover {
    background-color: var(--primaryContrastBNR);
}

.btn-row {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-container i {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.25rem;
    color: var(--textBNR);
}

.btn-container:hover {
    background-color: var(--bg-hoverBNR);
}

.sign-up-header {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}


.image-aside {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 1.5rem;
}

footer a,
footer p {
    color: var(--textBNR);
}

footer p {
    font-size: 1.2rem;
    font-weight: 600;
}

footer i {
    padding-right: 0.5rem;
}

@media only screen and (max-width: 376px) {

    .form-row {
        margin-bottom: 0.75rem;
    }

    .form-double {
        gap: 0.75rem;
    }

    .grow-container {
        min-width: 8rem;
    }

}

@media only screen and (max-width: 425px) {

    .form-row,
    .form-container input[type=text],
    .form-container input[type=email],
    .form-container input[type=password],
    .form-container input[type=tel],
    .form-container select,
    .radio-label {
        font-size: 0.75rem;
    }

    input[type='radio']:after,
    input[type='radio']:checked:after {
        top: -0.2rem;
    }

}

@media only screen and (min-width: 769px) {

    body {
        display: flex;
        align-items: center;
        padding: 0;
    }

    main {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form-section {
        max-width: 500px;
    }

    .sign-up-header {
        margin-top: 5rem;
    }

    .sign-up-header h1 {
        font-size: 1.5rem;
    }

    .password-container input[type=text],
    .password-container input[type=text]:focus,
    .password-container input[type=password],
    .password-container input[type=password]:focus {
        height: 2.4rem;
    }

    .btn-row {
        gap: 1rem;
    }

    .btn-container {
        height: 3rem;
    }

    .image-aside {
        display: block;
        max-width: 650px;
        width: 40%;
        height: 100vh;
    }

    .image-aside img {
        position: fixed;
        max-width: 650px;
        width: 40%;
        height: 100vh;
        object-fit: cover;
        border-top-left-radius: 100px;
        top: 0;
    }

    .container-aside {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1.75rem;
        font-size: 1rem;
        position: fixed;
        max-width: 650px;
        height: 11rem;
        width: 40%;
        bottom: 0;
        color: #f1f1f1;
        background: linear-gradient(180deg, transparent, rgba(15, 15, 15, .6) 40%);
    }

    .title-aside {
        font-size: 1.25rem;
        font-weight: 500;
        padding-bottom: 0.25rem;
    }

    .description-aside {
        max-width: 400px;
        width: 100%;
        text-align: center;
        font-weight: 400;
        line-height: 1.5;
    }

}