@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
    --redBNR: #e00021;
    --orangeBNR: #e07700;
    --blueBNR: #006ef2;
    --greenBNR: #00f220;
    --grayBNR: #f1f1f1;
    --border-color: rgba(145, 158, 171, 0.32);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
    padding: 0 1.5rem;
    line-height: 1.5;
}

main {
    color: #637381;
}

.form-container {
    margin-bottom: 2rem;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0.25rem;
}

.form-double {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

.grow-container {
    flex: 1;
    min-width: 10rem;
}

.form-container input[type=text],
.form-container input[type=email],
.form-container input[type=password],
.form-container input[type=tel],
.form-container select,
.radio-label {
    padding: 0.75rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    background-color: #fff;
    font-size: 1rem;
    width: 100%;
}

input[type="email"]:valid,
input[type=tel]:valid {
    border: 1px solid var(--greenBNR);
}

input[type="email"]:focus,
input[type=tel]:focus {
    border: 2px solid var(--border-color);
}

.radio-label {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
    padding: 0;
}

.radio-label label {
    width: 80%;
    padding: 0.75rem 1rem;
    text-align: center;
}

.radio-label:has(input:checked) {
    border: 2px solid var(--redBNR);
}

input[type='radio']:after,
input[type='radio']:checked:after {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 1.25rem;
    top: 0.9rem;
    left: -0.25rem;
    background-color: white;
    content: '';
    display: inline-block;
    border: 2px solid var(--grayBNR);
}

input[type='radio']:checked:after {
    background-color: var(--redBNR);
    border: 2px solid #c0001d;
}

.form-container input[type=radio] {
    height: 100%;
}

.terms-container a,
.log-in-container a {
    font-weight: 700;
    color: #c0001d;
}

a:hover {
    text-decoration: none;
}

.log-in-container {
    padding-top: 1rem;
}

.btn-submit {
    margin-top: 1rem;
}

.btn-submit button {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: #f9f9f9;
    background-color: var(--redBNR);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    cursor: pointer;
}

.btn-submit button:hover {
    background-color: #c0001d;
}

.btn-row {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-container img {
    width: 1.5rem;
    height: 1.5rem;
}

.btn-container:hover {
    background-color: var(--grayBNR);
}

.sign-up-header {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.bluenred-image {
    background-image: url(/img/fakeLogo.png);
    height: 30px;
    width: 140px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 2.5rem;
}

.sign-up-header h1 {
    color: #000;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.image-aside {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 1.5rem;
    font-weight: 600;
}

footer a,
footer p {
    color: #202020;
}

footer p {
    font-size: 1rem;
}

@media only screen and (max-width: 376px) {

    .form-row {
        margin-bottom: 0.75rem;
    }

    .form-double {
        gap: 0.75rem;
    }
}

@media only screen and (max-width: 425px) {

    .form-row,
    .form-container input[type=text],
    .form-container input[type=email],
    .form-container input[type=password],
    .form-container input[type=tel],
    .form-container select {
        font-size: 0.75rem;
    }

    input[type='radio']:after,
    input[type='radio']:checked:after {
        top: 1.65rem;
    }

}

@media only screen and (min-width: 769px) {

    body {
        display: flex;
        align-items: center;
        padding: 0;
    }

    main {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form-section {
        max-width: 500px;
    }

    .sign-up-header {
        margin-top: 5rem;
    }

    .sign-up-header h1 {
        font-size: 1.5rem;
    }

    .btn-row {
        gap: 1rem;
    }

    .btn-container {
        height: 3rem;
    }

    .image-aside {
        display: block;
        max-width: 650px;
        width: 40%;
        height: 100vh;
    }

    .image-aside img {
        position: fixed;
        max-width: 650px;
        width: 40%;
        height: 100vh;
        object-fit: cover;
        border-top-left-radius: 100px;
        top: 0;
    }

    .container-aside {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1.7rem;
        font-size: 1rem;
        position: fixed;
        max-width: 650px;
        height: 11rem;
        width: 40%;
        bottom: 0;
        color: #fff;
        background: linear-gradient(180deg, transparent, rgba(15, 15, 15, .6) 40%);
    }

    .title-aside {
        font-size: 1.2rem;
        font-weight: 500;
        padding-bottom: 0.25rem;
    }

    .description-aside {
        max-width: 400px;
        width: 100%;
        text-align: center;
        font-weight: 400;
        line-height: 1.6;
    }
}